__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
*.egg-info/
dist/
build/
.vscode/
.idea/
*.log
*.aux
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.tex
*.cls
*.pdf
*.zip
reviewer_*.md
overleaf_staging/
